<!DOCTYPE html>
<html lang="en" class="h-100">


<!-- Mirrored from w3crm.dexignzone.com/xhtml/page-register.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 06 Jul 2023 07:27:07 GMT -->
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<meta name="robots" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="W3crm:Customer Relationship Management Admin Bootstrap 5 Template">
	<meta property="og:title" content="W3crm:Customer Relationship Management Admin Bootstrap 5 Template">
	<meta property="og:description" content="W3crm:Customer Relationship Management Admin Bootstrap 5 Template">
	<meta property="og:image" content="social-image.png">
	<meta name="format-detection" content="telephone=no">
	
	<!-- PAGE TITLE HERE -->
	<title>W3CRM Customer Relationship Management</title>
	
	<!-- FAVICONS ICON -->
	<link rel="shortcut icon" type="image/png" href="../../public/assets/images/favicon.png">
    <link href="../../public/assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../../public/assets/css/password_check.css">

</head>

<body class="vh-100" style="background-image: url(../../public/assets/images/background/bg6.jpg);">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
									<div class="text-center mb-3">
										<a href="index.html"><img src="../../public/assets/images/logo/logo-full.png" alt=""></a>
									</div>
                                    <h4 class="text-center mb-4">Sign up your account</h4>
                                    <form action="/admin_register_save" method="post">
                                        <div class="mb-3">
                                            <label class="mb-1"><strong>Firstname</strong></label>
                                            
                                            <input type="text" class="form-control" placeholder="First Name" name="firstname" required>
                                        </div>
                                        <div class="mb-3">
                                            <label class="mb-1"><strong>Lastname</strong></label>
                                            
                                            <input type="text" class="form-control" placeholder="Last Name" name="lastname" required>
                                        </div>
                                        <div class="mb-3">
                                            <label class="mb-1"><strong>Phone No.</strong></label>
                                            <input type="tel" class="form-control"  name="a_mobile" required>
                                        </div>
                                        <div class="mb-3">
                                            <label class="mb-1"><strong>Address</strong></label>
                                            <input type="text" class="form-control"  name="address" required>
                                        </div>
                                        <div class="mb-3">
                                            <label class="mb-1"><strong>Zip Code</strong></label>
                                            <input type="text" class="form-control"  name="ZipCode" required>
                                        </div>

                                        <div class="mb-3">
                                            <label class="mb-1"><strong>Email</strong></label>
                                            <input type="email" class="form-control" placeholder="hello@example.com" name="a_email" required>
                                        </div>
                                        <div class="mb-3">
                                            <label class="mb-1"><strong>Password</strong></label>
                                            <input type="password" class="form-control" name="password" id="passwordInput" required>
                                        </div>
                                        <div class="text-center mt-4">
                                            <button type="submit" class="btn btn-primary btn-block"  id="submitButton" >Sign Me Up</button>
                                        </div>
                                        <div id="message"></div>
                                    </form>
                                    <div class="new-account mt-3">
                                        <p>Already have an account? <a class="text-primary" href="/">Sign in</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--**********************************
	Scripts
***********************************-->
<!-- Required vendors -->
<script src="vendor/global/global.min.js"></script>
<script src="js/custom.js"></script>
<script src="js/deznav-init.js"></script>
<script src="../../public/assets/js/password_check.js"></script>
</body>

<!-- Mirrored from w3crm.dexignzone.com/xhtml/page-register.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 06 Jul 2023 07:27:07 GMT -->
</html>


